my-app/
AWS-group-project-materials/AWS/database.txt
AWS-group-project-materials/AWS/initial-passwords-and-logins.txt
AWS-group-project-materials/AWS/ROOT-login.txt
AWS-group-project-materials/AWS/API gateway invoke URL.txt
